<footer class="site-footer">

  <div class="container">

    <div class="row">

    	<div class="pull-left">
    		<ul class="list-unstyled">
    			<li>Call/Text: 07876 251769</li>
    			<li>Website: www.mlmassage.co.uk</li>
    			<li>Email: mattlongmassage@gmail.com</li>
    			<li>Facebook: www.facebook.com/MattLongMassage</li>
    		</ul>
      



    	</div>

    	<div class="pull-right">
    		153 Woodside View<br>
			RAF Honington<br>
			Bury St Edmonds<br>
			Suffolk<br>
			IP31 1LY
    	</div>
    </div>

  </div>

</footer>
